/*geral*/

#titulo-topico {
    font-weight: 700;
}

#subtitulos {
    font-weight: 600;
}

body h1 {
    font-size: clamp(1.2rem, 5vw, 3.2rem);
}

header h2 {
    font-size: clamp(0.8rem, 3vw, 2rem);
}


/*end geral*/

#background-texto {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 10px;
    color: #000000;
    font-weight: 500;
}

#background-texto-curso {
    background-color: #1c1347;
    border-radius: 15px;
    padding: 10px;
    color: #c3d0db;
    font-weight: 500;
}

/*Navbar--- */
#navbar {
    background-color: #000000d3;
}

.navbar .nav-item {
    margin-left: 17px;
}

.navbar .nav-item {
    padding: 5px 0px;
    position: relative;
}

.navbar .nav-item::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    border-radius: 50px;
    background-color: #ffffff;
    transition: all 0.5s ease;
    transform: scale(0);
}

.navbar .nav-item.active::before,
.navbar .nav-item:hover::before {
    transform: scale(1);
}

/* ---Navbar*/



/*Header--- */
#header-image {
    width: 100%;
    height: 100vh;
    background-image: url("../img/header/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#header-title {
    margin-top: 23vh;
    padding-top: 20px;
    padding-bottom: 20px;
}

#header_text {
    z-index: 1;
    position: relative;
    background-color: #65648C;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

/*Resumo--- */
#container_resumo {
    z-index: 2;
    position: relative;
    max-width: 900px;
    min-width: 200px;
    padding: 0;
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
}

#resumo_curso_title {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #b8c4e9;
    border-radius: 10px 10px 4px 4px;
}

#resumo_curso_title h3 {
    font-size: 25px;
    margin-left: 10px;
    font-weight: 650;
}

#resumo_curso_content {
    position: relative;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    padding-bottom: 25px;
}

.card_resumo {
    border: 1px solid #65648C;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 10px;
}

.card_resumo img {
    width: 75px;
    height: 75px;
}

.card_resumo h4 {
    font-size: 20px;
    font-weight: 650;
}

.card_resumo p {
    font-size: 18px;
    font-weight: 400;
}

/* ---Resumo*/
/* ---Header texto*/

#texto_p {
    text-align: center;
    font-size: 15px;
    margin-bottom: 30px;
    font-weight: 600;
}

@media (min-width:700px) {
    #texto_p {
        text-align: center;
        font-size: 20px;
        margin-bottom: 30px;
        font-weight: 600;
    }
}

/*Header texto---*/
/* ---Header cel*/

.cel {
    position: relative;
    background-color: #332ead;
    min-width: 355px;
    min-height: 180px;
    border-radius: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 0px;
    margin-bottom: 50px;
}

#cel-main {
    position: relative;
    width: 340px;
    height: 150px;
    background-color: #000000;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cel-main iframe {
    width: 95%;
    height: 90%;
    border-radius: 2%;
}

.cel-top {
    width: 0px;
    height: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.cel-top-cam {
    position: relative;
    width: 0px;
    height: 0px;
    background-color: #000000;
    border-radius: 50px;
    margin-top: 30px;
}

.cel-top-linha {
    position: relative;
    width: 0px;
    height: 0px;
    border-radius: 200px;
    background-color: #000000;
    margin-bottom: 50px;
}

.cel-bottom {
    position: relative;
    width: 0px;
    height: 0px;
    background-color: #000000;
    border-radius: 50px;
}

@media (min-width:800px) {
    .cel {
        width: 750px;
        height: 350px;
        padding-left: 10px;
        border-radius: 50px;
        box-shadow: 20px 20px 5px #000000;

    }

    #cel-main {
        width: 550px;
        height: 300px;
    }

    .cel-top {
        width: 30px;
        height: 100%;
    }

    .cel-top-cam {
        width: 30px;
        height: 30px;
    }

    .cel-top-linha {
        width: 20px;
        height: 150px;
    }

    .cel-bottom {
        width: 60px;
        height: 60px;
    }
}

/*Header cel--- */

/* ---Header*/

/*Sobre--- */
#sobre {
    position: relative;
    background-color: #b8c4e9;
    padding: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}


#imagem_sobre {
    display: flex;
    align-items: center;
    justify-content: center;
}

#img_sobre {
    border-radius: 200px;
    box-shadow: 10px 5px 2px #ffffff;
}

#centralizar_lista {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 1px black solid;
    border-radius: 15px;
    font-size: 18px;
}

#centralizar_lista p {
    margin: 10px;
    padding: 0px;
    color: #000000;
}

#perfil {
    background-color: #38358C;
    position: relative;
    padding: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
}

#backgroundcontainer {
    overflow: hidden;
    height: 100vh;
}


/*---Sobre*/
/*Como ingressar--- */
#como_ingressar {
    position: relative;
    background-color: #1c1347;
    padding: 50px;
    color: #c3d0db;
    padding-top: 100px;


}

#como_ingressar_titulo_img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#como_ingressar_titulo_img img {
    border-radius: 200px;
    box-shadow: 10px 5px 2px #ffffff;
}

/* ---Como ingressar*/

/*curso--- */
#curso {
    position: relative;
    background-color: #c3d0db;
    padding: 50px;
    color: #1c1347;
    padding-top: 100px;
}

/*Carousel: */
#carousel-container {}

.slider {
    position: relative;
}

.slider .owl-item.active.center .slider-card {
    transform: scale(1.15);
    opacity: 1;
    background: #1c1347;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1c1347, #1c1347);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1c1347, #1c1347);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #ffffff;
}

.slider-card {
    background-color: #ffffff;
    margin: 50px 15px 90px 15px;
    border-radius: 5px;
    box-shadow: 0 15px 45px -20px rgba(206, 191, 191, 0.493);
    transform: scale(0.9);
    opacity: 0.5;
    transition: all 0.3s;
}

.slider-card img {
    border-radius: 5px 5px 0px 0px;
}

@media screen and (min-width:767px) {
    .slider-card img {
        height: 150px;
    }
}


.owl-nav .owl-next {
    position: absolute;
    top: calc(50% - 25px);
    right: 0;
    opacity: 1;
    font-size: 50px !important;
    z-index: 1;
}

.owl-nav .owl-prev {
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    opacity: 1;
    font-size: 50px !important;
    z-index: 1;
}

/*end carousel */

@media screen and (max-width:768px) {
    #grade_curricular_linha2 {
        display: flex;
        flex-direction: column-reverse;
    }
}

#faculdades {
    padding-top: 85px;
}

#grade-curricular {
    padding-top: 75px;
}

#tipos-formacao {
    padding-top: 75px;
}

#certificacoes {
    padding-top: 70px;
}

/*Card cartificações */
#card_wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

#card_certificado {
    background: white;
    width: 240px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    background-color: rgb(62, 62, 62);
    color: white;
}

#card_certificado:hover {
    background-color: rgb(253, 253, 253);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transform: scale(1.02);
    transition: all 0.4s ease;
}

#card_certificado h2 {
    padding: 5px;
    font-size: 18px;
}

#card_certificado p {
    font-size: 13px;
    padding-bottom: 40px;
}

#card_certificado a {
    background-color: #000000;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}

.card-img {
    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 100%;
    margin-bottom: 15px;
    background-size: 100% 100%;
    border-radius: 15px 15px 0px 0px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img_gradeCurricular {
    width: 350px;
}

.car-1 {
    background-image: url(../img/div_curso/certificados/itil-foundation.png);
}

.car-2 {
    background-image: url(../img/div_curso/certificados/cissp.png);
}

.car-3 {
    background-image: url(../img/div_curso/certificados/oracle\ \(2\).png);
}

.car-4 {
    background-image: url(../img/div_curso/certificados/dell.png);
}

.car-5 {
    background-image: url(../img/div_curso/certificados/vmware.png);
}

.car-6 {
    background-image: url(../img/div_curso/certificados/mcsd.png);
}

.car-7 {
    background-image: url(../img/div_curso/certificados/ccie.png);
}

.car-8 {
    background-image: url(../img/div_curso/certificados/pmp.png);
}



/* ---curso*/

/* mercado de trabalho---- */
#mercado_trabalho {
    position: relative;
    background-color: #998ae6;
    padding: 50px;
    padding-bottom: 150px;
}

#imagem_mercado_trabalho img {
    border-radius: 200px;
    box-shadow: 10px 5px 2px #ffffff;
    max-height: 300px;
}

/* ----mercado de trabalho*/

/* video---- */
#video {
    background-color: #1f1e1f;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding: 90px;
}

/*----video*/

/*footer--- */


.bubbles {
    z-index: -100;
    position: relative;
    display: flex;
}

.bubbles span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    width: 30px;
    padding: 10px;
    height: 30px;
    border-radius: 50%;
    background: #5c58b9;
    margin: 0 4px;
    box-shadow: 0 0 10px #000000, 0 0 50px #000000;
    animation: animate 15s linear infinite;
    animation-duration: calc(120s / var(--i));
}

.bubbles span:nth-child(even) {
    background: #C9D3F2;
    box-shadow: 0 0 10px #9da4bb, 0 0 50px #8992ad;
}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-20vh) scale(1);
    }
}

.rodapé_bloco_social_medias {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.rodapé_bloco_social_medias img {
    width: 45px;
    height: 45px;
    background-color: #ffffff96;
    border-radius: 15%;
    transition: all 0.2s linear;
    margin: 5px;
}


.rodapé_bloco_social_medias #footer_icon_github:hover {
    background-color: #ffffff;
    transform: scale(1.2);
}

.rodapé_bloco_social_medias #footer_icon_linkedin:hover {
    background-color: #0077B5;
    transform: scale(1.2);
}

.rodapé_bloco_social_medias #footer_icon_instagram:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    transform: scale(1.2);
}

/* ---footer*